<div class="container mt-5">
    <form>
        <div class="mb-3 col-6">
            <label for="firstName" class="form-label">First Name</label>
            <input [(ngModel)]="employee.firstName" type="text" class="form-control" id="firstName" name="firstName">            
        </div>
        <div class="mb-3 col-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="employee.lastName" type="text" class="form-control" id="lastName" name="lastName">            
        </div>
        <div class="mb-3 col-6">
            <label for="email" class="form-label">Email address</label>
            <input [(ngModel)]="employee.email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 col-6">
            <label for="depId" class="form-label">Select Department Id</label>
            <select [(ngModel)]="employee.depId" class="form-select" id="depId" name="depId">
                <option selected>Select Id</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>
        <div class="mb-3 col-6">
            <label for="roleId" class="form-label">Select Role Id</label>
            <select [(ngModel)]="employee.roleId" class="form-select" id="roleId" name="roleId">
                <option selected>Select Id</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>
        
        <button (click)="saveEmployee()" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>